q{
  color:blue;
  font-size: 18px;
}
body{
  
  background:  url("./images/honda\ civic.jpg")  no-repeat;
  background-size: inherit;

 
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
#firstquote{
color:red;
}

.heading{

  font-family: 'Times New Roman', Times, serif;
  color: blueviolet;
  text-align: center;

}

p.design1{
 /* color: forestgreen;*/
 color: rgb(20,25,245)

}

h1,blockquote,address{
  font-weight: 500;
  text-decoration-style: solid;
}